@tailwind base;
@tailwind components;
@tailwind utilities;


.glassmorphism {
    background: rgba(43, 41, 41, 0.25);
    box-shadow: 0 10px 22px 0 rgba(120, 83, 255, 0.21);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorphism-inner {
    background: rgba(43, 41, 41, 0.25);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-01 {
    background-image: linear-gradient(270deg,
            hsl(241, 100%, 61%) 0%,
            hsl(284, 54%, 48%) 26%,
            hsl(257, 85%, 55%) 39%,
            hsl(261, 100%, 68%) 50%,
            hsl(283, 56%, 63%) 61%,
            hsl(293, 93%, 58%) 74%,
            hsl(241, 100%, 52%) 100%);
    filter: blur(140px);
}